* {
  font-family: "Comfortaa", sans-serif;
}


#ScheduleTable {
  border-collapse:separate;
  width: 100%;
  border-radius: 10px;
  
}
#ScheduleCellsDays{
  background-color: #1B4965;
  color: white;
  border-radius: 6px;
}
/* #ScheduleRows {
  border: 1px solid black;
} */
#ScheduleCellsStation {
 font-weight: 600;
  background-color: #5FA8D3;
  color: white;
  border-radius: 6px;
}
#ScheduleCells {
  background-color: #CAE9FF;
  text-align: center;
  border-radius: 6px;
}

.Button {
  margin: 10px; /* Add margin for spacing */
  padding: 5px 5px; /* Adjust padding to make the button longer */
  border: #62B6CB;
  border-radius: 5px; /* Add rounded corners */
  background-color: #62B6CB; /* Set a background color */
  color: white; /* Set text color */
  cursor: pointer; /* Change cursor on hover */
}

.Button:hover {
  background-color: #BEE9E8;
}

.Welcome {
  text-align: center;
  padding: 20px;
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1B4965;
  background-image: url(./assets/Background.img.webp);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;

}

#email {
  border: none; /* Remove the default border */
  border-bottom: 1px solid #000; /* Add a bottom border */
  outline: none; /* Remove the default focus outline */
  margin: 10px; /* Add margin for spacing */
}
#password {
  border: none; /* Remove the default border */
  border-bottom: 1px solid #000; /* Add a bottom border */
  outline: none; /* Remove the default focus outline */
  margin: 10px; /* Add margin for spacing */
}
.Login:hover{
  border-color:#1B4965;
  background-color:#1B4965;
}
.Login {
  margin: 10px; /* Add margin for spacing */
  padding: 5px 75px; /* Adjust padding to make the button longer */
  border: #62B6CB;
  border-radius: 5px; /* Add rounded corners */
  background-color: #62B6CB; /* Set a background color */
  color: white; /* Set text color */
  cursor: pointer; /* Change cursor on hover */
}

.WelcomeTitle {
  margin-bottom: 40px 
  
}
.registerlink {
  color:#62B6CB;
}
.Register {
  text-align: center;
  padding: 20px;
}
.RegisterTitle {
  margin-bottom: 40px
}
.RegisterButton {
  margin: 10px; /* Add margin for spacing */
  padding: 5px 75px; /* Adjust padding to make the button longer */
  border: #62B6CB;
  border-radius: 5px; /* Add rounded corners */
  background-color: #62B6CB; /* Set a background color */
  color: white; /* Set text color */
  cursor: pointer; /* Change cursor on hover */
}
.RegisterButton:hover{
  border-color:#1B4965;
  background-color:#1B4965;
}

.NavBar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /* Full width */
 
}

.NavBar a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px; /* Add space between nav links for smaller screens */
  font-weight: bold;
  
}

.NavBar a:hover {
  color: #CAE9FF;
  border-radius: 5px;
  background-color: #1B4965;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .NavBar {
    flex-direction: column; /* Stack nav links vertically for smaller screens */
    align-items: flex-start; /* Align nav links to the left */
    padding: 15px 20px; /* Adjust padding for smaller screens */
  }

  .NavBar a {
    margin: 10px 0; /* Add vertical space between stacked nav links */
  }
}

.LogoutButton {
  margin: 10px;
  padding: 5px 15px; /* Adjust padding to your liking */
  border: none;
  color: #1B4965;
  font-size: 16px; /* Adjust font size to match the navbar lettering */
  cursor: pointer;
  transition: color 0.25s; /* Smooth color transition on hover */
  background-color: white;
  font-weight: bold;
}

.LogoutButton:hover {
  color: #CAE9FF;
}

.HomePage {
  text-align: center;
}
th {
text-align: center;
font-size: 20px; /* Increase font size to make it bigger */
padding: 15px; /* Increase padding to add more space around the text */
}
.EmployeePage {
  margin-top: 20px;
  height: 85vh;
}
#EmployeeNameCell {
  width: 85px;
  text-align: center;
  font-weight: bold;
}
#NameCell {
  width: 100px;
}
.CellAvailability {
  text-align: center;
  font-weight: bold;
  
}
.ScheduleTitle {
  text-align: center;
  padding-bottom: 50px;
  
}
#Employeeth {
  text-align: center;
  font-weight: 800;

}

